
<div class="row">

    <div class="text-center mt-3">
        <h2>Your Matches {{memberservice.paginatedResults()?.pagination?.totalItems}}</h2>
    </div>
    <div class="container mt-3">
        <form #form="ngForm" class="d-flex mb-3" (ngSubmit)="loadMembers()">
            <div class="d-flex mx-2">
                <label class="col-form-label">Age from</label>
                <input type="number" 
                class="form-control ms-1"
                 style="width:70px ;"
                 name="minAge"
                 [(ngModel)]="memberservice.userParams().minAge">
                 <label class="col-form-label">Age to</label>
                 <input type="number" 
                 class="form-control ms-1"
                  style="width:70px ;"
                  name="maxAge"
                  [(ngModel)]="memberservice.userParams().maxAge">
            </div>
            <div class="d-flex mx-2">
                <label class="col-form-label">Show:</label>
                <select name="gender"
                 style="width: 130px;" 
                class="form-select ms-1"
                [(ngModel)]="memberservice.userParams().gender"
                >
                @for (gender of genderList; track gender.value) {
                    <option [value]="gender.value">
                        {{gender.display}}
                    </option>
                }
            </select>
            </div>
            <button class="btn btn-primary ms-1" type="submit">Apply Filter</button>
            <button (click)="resetFilters()"class="btn btn-info ms-1">reset Filter</button>

            <div class="col">
                <div class="btn-group float-end">
                    <button
                    type="button"
                    class="btn btn-outline-success"
                    name="orderBy"
                    btnRadio="lastActive"
                    [(ngModel)]="this.memberservice.userParams().orderBy"
                    (click)="loadMembers()">
                        Last Active
                    </button>
                        <button
                        type="button"
                        class="btn btn-outline-success"
                        name="orderBy"
                        btnRadio="created"
                        [(ngModel)]="this.memberservice.userParams().orderBy"
                        (click)="loadMembers()">
                            Created
                        </button>
                </div>
            </div>
        </form>
    </div>
        @for (member of memberservice.paginatedResults()?.items; track member.id) {
            <div class="col-2">
        <app-member-card [member]="member"></app-member-card>
        </div>
        }
</div>
@if (memberservice.paginatedResults()?.pagination) {}
<div class="d-flex justify-content-center">
    <pagination 
    [boundaryLinks]="true"
    [totalItems]="memberservice.paginatedResults()?.pagination!.totalItems"
    [itemsPerPage]="memberservice.paginatedResults()?.pagination!.itemPerPage"
    (pageChanged)="Pagechanged($event)"
    [(ngModel)]="memberservice.paginatedResults()?.pagination!.currentPage"
    [maxSize]="10"
    previousText="&lsaquo;" 
    nextText="&rsaquo;" 
    firstText="&laquo;" 
    lastText="&raquo;">
</pagination>
</div>
