<div class="mb-3 form-floating">
    <input [class.is-invalid]="control.touched 
     && control.invalid" [formControl]="control" [type]="type()" class="form-control" placeholder={{label()}}>
    <label>{{label()}}</label>
    <div *ngIf="control.hasError('required')" class="invalid-feedback  text-start">
        {{label()}} is Required
    </div>
    <div *ngIf="control.hasError('minlength')" class="invalid-feedback  text-start">
        {{label()}} at least {{control.errors?.['minlength'].requiredLength}} characters
    </div>
    <div *ngIf="control.hasError('maxlength')" class="invalid-feedback  text-start">
        {{label()}} at most {{control.errors?.['maxlength'].requiredLength}} characters
    </div>
    <div *ngIf="control.hasError('isMatching')" class="invalid-feedback  text-start">
        Password does not matching
    </div>
</div>