<div>
    <button class="btn btn-outline-primary me-3" (click)="get400Error()">400Error</button>
    <button class="btn btn-outline-primary me-3" (click)="get401Error()">401Error</button>
    <button class="btn btn-outline-primary me-3" (click)="get404Error()">404Error</button>
    <button class="btn btn-outline-primary me-3" (click)="get500Error()">500Error</button>
    <button class="btn btn-outline-primary me-3" (click)="get400ValidationError()">400ValidationError</button>

    @if(validationErrors.length > 0 ){
        <div class="row mt-5">
            <ul class="text-danger">
                @for (error of validationErrors; track $index) {
                    <li>{{error}}</li>
                }
            </ul>
        </div>

        }
</div>